body { /* This will set the base margin to 0 and prevent scrolling */
    padding: 0;
    margin: 0;
    height: 100vh;
}

.mainstuff { /* This sets up the grid for all its children, also divides grid into 9 equal segments with no gutters */
    margin: auto;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(9, 1fr);

}

img { /* This just ensures the photos will stay fit within their containers */
    width: 100%;
}

.logo { /* Sets the placement of the div in the grid system */
    grid-column: 1/span 2;
    grid-row: 1/span 1;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 4vh;
    padding-bottom: 0px;
}

.hamburger { /* Technically don't need this anymore after updating the hamburger, but leaving it here just in case */
    grid-column: 4/span 1;
    grid-row: 1/span 1;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 6vh;
    padding-bottom: 0px;
}

.tallpic { /* Sets the placement of the div in the grid system and sets the image to cover and center so it will scale neatly */
    grid-column: 5/span 3;
    grid-row: 1/span 9;
    background-image: url(reach.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sidetext { /* Sets the placement of the div in the grid system */
    padding-top: 4vh;
    grid-column: 8/span 2;
    grid-row: 1/span 2;
    padding-left: 2vw;
}

.heading { /* Sets the placement of the div in the grid system */
    grid-column: 1/span 4;
    grid-row: 6/span 3;
    padding-left: 4vw;
}

.sidepic { /* Sets the placement of the div in the grid system and sets the image to cover and center so it will scale neatly */
    grid-column: 8/span 2;
    grid-row: 5/span 6;
    background-image: url(bend.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.categories { /* Sets the placement of the div in the grid system and sets it as a flex parent so that the three blurbs will be spaced evenly */
    padding-left: 4vw;
    padding-right: 3vw;
    grid-column: 1/span 4;
    grid-row: 9/span 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.blurb { /* Sets the width of the blurbs to 30% */
    width: 30%;
}

.buttons { /* Sets the placement of the div in the grid system and sets it as a flex parent so the buttons will fill in evenly */
    grid-column: 5/span 3;
    grid-row: 10/span 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: middle;
}

.left { /* sets the left button to take up twice the extra space as the right and sets the bg color */
    background-color: #444444;
    flex-grow: 2;
    transition: .2s ease;
}

.right { /* sets the bg color, fill space, etc. */
    background-color: #c9dcee;
    flex-grow: 1;
    transition: .2s ease;
}

h1 { /* I wanted text to scale with page resizing- I haven't added media queries yet but I intend to come back and do it later in the semester so it doesn't become unreadably small after resizing */
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    color: #444444;
    font-size: 4vw;
    line-height: 4.5vw;
    ;
}

h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    color: #444444;
    font-size: 2.2vw;
    line-height: 3vw;
}

h3 {
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    color: #444444;
    font-size: 2vw;
    line-height: 0;
}

h4 {
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    color: #999999;
    font-size: 1.5vw;
    line-height: 0;
}

p {
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    color: #444444;
    font-size: 1.3vw;
}

.leftbut { /* sets the color of the text in the left button (underneath tallpic) */
    color: #ffffff;
}

.rightbut {
    text-align: center;
    vertical-align: middle;
}

.left:hover { /* changes color and eases transition when hovering over button */
    background-color: #e2888f;
    transition: .2s ease;
}

.right:hover {
    background-color: #e2888f;
    transition: .2s ease;
}

.time { /* sets placement in tallpic div for "fall 2018" div */
    padding-top: 2vw;
    padding-left: 3vw;
    width: 18%;
}

.time1 {
    line-height: 0;
}

.time2 {
    text-align: right;
    line-height: 0;
}

.testside { /* named because it was initially a test, but liked how it ended up- turns text sideways and fills in a space in the grid */
    padding-top: 1vh;
    padding-right: 2vw;
    grid-column: 8/span 1;
    grid-row: 4/span 3;
    writing-mode: vertical-rl;
}

.spaceline { /* makes a solid line */
    width: 80%;
    text-align: center;
    height: 0.2vw;
    background-color: #999999;
}

.smalline { /* makes a solid line but vertical */
    width: 0.2vw;
    height: 4vh;
    background-color: #999999;
}






/*hamburger stuff*/

.menu { /* overlays the left half of the screen with a separate grid with the hamburger menu in it so it will cleanly cover the content and fill the space - i wanted to do this neater, but this was the best way I could come up with */
    display: grid;
    height: 100vh;
    width: 44%;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    top: -100vh;
}

.topnav { /* positions the hamburger menu content */
    overflow: hidden;
    grid-column: 1/span 4;
    grid-row: 1/span 11;
    margin-top: 2vw;
    margin-right: 2vw;
    transition: .2s ease;
}

.topnav a { /* positions the hamburger icon and text links */
    float: left;
    display: block;
    color: #444444;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
    transition: .2s ease;
}

.topnav a:hover { /* sets hover values for hamburger icon and text links */
    color: #e2888f;
    transition: .2s ease;
}

.topnav a { /* makes it so the links (hamburger included at this point) won't show up unless activated */
    display: none;
}

.topnav a.icon { /* keeps the hamburger icon floated right and displayed */
    float: right;
    display: block;
}

.topnav.responsive { /* sets the background object (white background) that shows up when hamburger menu is activated behind the text links */
    position: relative;
    background-color: #ffffff;
    transition: .2s ease;
    column-count: 2;
}

.topnav.responsive .icon { /* positions the hamburger icon once the menu is activated */
    position: absolute;
    right: 0;
    top: 0;
}

.topnav.responsive a { /* positions the list links once the menu is activated */
    float: none;
    display: block;
    text-align: center;
}
